node_modules
npm-debug.log*
.npmrc
.pnpm-store
.yarn
.yarnrc*
.pnp.*
.next/cache
.next/trace
.next/static/cache
api/dist
api/duel-de-dame.sqlite
api/data/*.sqlite
backups
.git
.gitignore
.DS_Store
*.swp
*.swo
coverage
tmp
dist
