# --- Backend ---
NEST_PORT=3001
NEST_HOST=0.0.0.0
NEST_ENV=development
NEST_JWT_SECRET=un_secret_ultra_long
# Si vous utilisez SQLite (par défaut pour le chat):
NEST_DB_SQLITE_PATH=duel-de-dame.sqlite
NEST_CORS_ORIGIN=http://localhost:3000

# --- Frontend ---
NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_SOCKET_URL=http://localhost:3001
NEXT_PUBLIC_ENV=development
NEXT_PUBLIC_ANALYTICS_ID=UA-XXXXXXX-X